#GS_Wrap {
  position: relative;
  width: 500px;
  height: 400px;
  border: 3px solid #9E1F16;
  z-index: 10;
  background: #aaa;
}

#GS_Field {
  background: #aaa;
  position: relative;
  z-index: 1000;
}
.fieldItem {
  float: left;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 50px;
  width: 50px;
  height: 50px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}
.fieldItem:hover {
 box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5); 
}
.qwe {
  background: #fff;
}


#GS_Loader {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;       
  transition: opacity 1s;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff url(../img/GS_load.gif) no-repeat 50% 50%;
  opacity: 0;
  z-index: 9999;
}
#GS_Loader.loader__show {
  opacity: 1;
  display: block;
}